*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

/****************************
**** IMAGE EXPAND MODAL ****/
/* Gallery */
/* .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1.5rem;
    min-height: 80vh;
    padding: 3rem;
}

.img-container {
    overflow: hidden;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.img-container img:hover {
    transform: scale(1.2);
} */

/* Modal */
/* .modal {
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    opacity: 0;
    pointer-events: none;
    transition: all .25s ease-out;
}
.modal.open {
    opacity: 1;
    pointer-events: all;
}

.full-img {
    position: absolute;
    width: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all .25s ease-out;
}

.full-img.open {
    transform: translate(-50%, -50%) scale(1);
}

.modal p {
    color: white;
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translate(-50%, -5%);
}
 */



/****************************
******* MOUSE CURSOR  *******/
/* .mouse-cursor {
    cursor: none;
}

.nav-cursor {
    display: flex;
    justify-content: space-between;
    width: 90%;
    min-height: 10vh;
    align-items: center;
    margin: auto;
}
.nav-links {
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.nav-links li {
    padding: 1rem;
}

.nav-links,
h1 {
    flex: 1;
}

.cursor-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.cursor {
    width: 2.5rem;
    height: 2.5rem;
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: -1;
    backdrop-filter: grayscale();  

    transition: all .3s ease;
    transition-property: background, transform;
    transform-origin: 100% 100%;
}

.front-cover {
    width: 30%;
    position: relative;
    z-index: -3;
}
.front-cover img {
    width: 100%;
} */

/* cursor hover on link */
/* .link-grow {
    transform: scale(1.5);
    background-color: black;
}
.hovered-link {
    color: white;
} */


/****************************
******* FANCY TEXT  *******/
/* .text-fade {
    width: 100%;
    height: 100vh;
    background-color: black;
    text-align: center;
    display: flex;
    align-items: center;
}

.text-fade h1 {
    color: white;
    font-size: 5rem;
}

span {
    display: inline-block;
    opacity: 0;
    transform: translateY(50px);
    transition: all .5s ease;
}
span.fade-in {
    opacity: 1;
    transform: translateY(0);
} */



/****************************
****** NAV ANIMATION ******/
/* header {
    box-shadow: 0 3px 10px rgba(0, 0, 0, .3);
    position: sticky;
    top: 0;
    background: white;
}

nav {
    min-height: 10vh;
    margin: 0 auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h1,
nav ul {
    font-size: 1.5rem;
    flex: 1;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

nav a {
    color: black;
    text-decoration: none;
}

.nav-colorBox section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-colorBox section h2 {
    font-size: 3rem;
    color: white;
}

.colorBox {
    position: absolute;
    z-index: -2;
    background: linear-gradient(to right top, #f46b45, #eea849);
    transform: scale(2);
    transition: all .5s ease;
}

.home {
    background: linear-gradient(to right top, #f46b45, #eea849);
}
.project {
    background: linear-gradient(to right top, #005c97, #363795);
}
.contact {
    background: linear-gradient(to right top, #e53935, #e35d5b);
} */


/**********************************
****** FADE IN HEADER IMAGE ******/
/* .fadein {
    max-width: 100vw;
    overflow-x: hidden;
    background-color: black;
}

body {
    background-color: black;
}

header {
    position: relative;
    max-width: 100%;
    height: 100vh;
    overflow: hidden;
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bg img {
    width: 100%;
    height: 100%;
}

.fade-section {
    color: white;
    padding: 7rem;
    text-align: center;
}

.fade-section h2 {
    margin-bottom: 2rem;
    font-size: 3rem;
} */



/**********************************
********* IMAGE GALLERY  *********/
/* .gallery-section {
    width: 100%;
    height: 80vh;

    display: flex;    
    align-items: center;
    flex-flow: row nowrap;
    overflow-x: auto;
    overflow-y: visible; */

    /* -ms-overflow-style: none;   Internet Explorer 10+ */
    /* scrollbar-width: none;      Firefox 
}
*/

/*
.gallery-section::-webkit-scrollbar { 
    display: none;   Safari and Chrome 
}
*/

/* .container {
    display: flex;
    align-items: center;
    padding: 0 1rem;
}

.img-container {
    padding: 0 1rem;
    cursor: grab;
}

.img-container--h {
    width: 20rem;
    height: 25rem;
}

.img-container--v {
    width: 23rem;
    height: 18rem;
}


.img-container img {
    width: 100%;
    height: 100%;
} */


/**********************************
****** AIRPOD VIDEO ANIMATION ******/
/* .intro {
    height: 100vh;
    width: 100%;
}

.intro video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.intro h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    color: white;
}

section {
    height: 100vh;
    color: black;
}

section h1 {
    text-align: center;
    padding-top: 350px;
    font-size: 3rem;
} */



/**********************************
****** FULL PAGE ANIMATION  ******/
/* .chair {
    height: 60%;
    position: absolute;
    top: 70%;
    left: 70%;
    transform: translate(-70%, -70%);
}

.s1 {
    background-image: url(../img/full-page/couch.jpg);
    background-size: cover;
}
.section h1 {
    font-size: 3.5rem;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    background: linear-gradient(to left, #87c7df, #648896);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.s2 {
    background: linear-gradient(to left top, #7d7f80, white);
}
.s2 h1 {
    font-size: 3rem;
    background: linear-gradient(to left, #273a41, #34474d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.description {
    margin: 20%;
    width: 50%;
    margin-left: 5%;
    font-size: 1rem;
}
.description p {
    margin: 50px 0;
} */


/***************************************
****** PAGE ANIMATION WITH GSAP 1 ******/
/* nav {
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%;
    align-items: center;
    min-height: 10vh;
    color: white;
}
nav h3 {
    grid-column: 2/3;
    font-size: 1.3rem;
}
svg {
    justify-self: end;
    fill: white;
    width: 2.5rem;
    height: 2.5rem;
}

.slider {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: linear-gradient(to left, #ba7453, #d1a984);
}

section {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero {
    position: relative;
    width: 100%;
    height: 60%;
}
.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero h1 {
    position: absolute;
    top: 70%;
    left: 10%;
    transform: translate(-15%, -70%); 
    z-index:3;
    font-size: 3.5rem;
    color: white;
}
.hero::after {                    
    content: "";
    background: black;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .3;
} */


/*********************************************
*** PAGE ANIMATION WITH GSAP 2 ***/
/* html,
body {
    width: 100%;
    height: 100%;
    background-color: #e8ab28;
}

header {
    position: relative;
    width: 100%;
    height: 100vh;
}

.cover {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    object-fit: cover;
    object-position: top;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 40%;
    height: 20vh;
    background-color: white;
    color: #916356;
}

.nav-closed {
    position: absolute; 
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 20vh;
}

.nav-closed ul {
    display: flex;
    width: 50%;
    justify-content: space-around;
    list-style: none;
}

.nav-open {
    position: absolute;
    top: 20vh;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    opacity: 0;
    pointer-events: none;
}

.clothes {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.clothes h2 {
    font-size: 50px;
}
.clothes ul {
    list-style: none;
}
.clothes ul li {
    margin-bottom: 10px;
}
.clothes ul li a {
    text-decoration: none;
    color: #916356;
}

.nav-images {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.nav-images img {
    height: 250px;
} */


/*********************************************
*** BLENDING IMAGE ON HOVER ***/
/* .landing {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    height: 100vh;
}

.distortion {
    width: 100%;
    height: auto;
}

.intro {
    align-self: center;
}
.intro h1 {
    font-size: 50px;
}
.intro p {
    font-size: 25px;
} */



/******************************
*** BUBBLE NAVIGATION ***/
/*
nav {
    height: 10vh;
    background-color: #5b78c7;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 100%;
    margin-left: auto;
    pointer-events: none;
}

.nav-links li {
    list-style: none;
}

.nav-links li a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.landing {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing h1 {
    font-size: 50px;
    margin: 100px;
    color: #ae5fce;
}

@media screen and (max-width: 768px) {
    nav {
        position: relative;
    }

    .hamburger {
        position: absolute;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        cursor: pointer;
    }

    .line {
        width: 30px;
        height: 3px;
        background-color: #fff;
        margin: 5px;
    }

    .nav-links {
        position: fixed;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        background-color: #5b78c7;
        pointer-events: all;
        
        clip-path: circle(100px at 90% -10%); /* right top 
        -webkit-clip-path: circle(100px at 90% -10%); 
        transition: all 1s ease-out;
    }
    */
/*
    .nav-links.open {
        clip-path: circle(1600px at 90% -10%); 
        -webkit-clip-path: circle(1600px at 90% -10%);  
    } 

    .landing {
        flex-direction: column;
    }
*/
    /* li fade-in */
    /*
    .nav-links li {
        opacity: 0;
    }
    .nav-links li:nth-child(1) {
        transition: all .5s ease .2s; /* .2s is delay 
    }
    */
    /*
    .nav-links li:nth-child(2) {
        transition: all .5s ease .4s; 
    }    
    .nav-links li:nth-child(3) {
        transition: all .5s ease .6 s; 
    }
    li.fade {
        opacity: 1;
    }
    .nav-links li a {
        font-size: 25px;
    }
}
*/



/******************************
***** GSAP ANIMATION 3 *****/
/* header {
    background-color: black;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    position: relative;
    overflow: hidden;
}

nav {
    width: 100%;
    height: 10vh;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 3rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .logo {
    color: white;
    font-size: 1.8rem;
}
nav .hamburger {
    width: 2.5rem;
    height: 2rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
nav .hamburger div {
    width: 100%;
    height: 4px;
    background-color: black;
}

section {
    background-color: #fff;
    height: 100%;
}

.landing {
    position: absolute;
    top: 50%;
    right: 3%;
    transform: translate(-3%, -50%);
    max-width: 40%;
}
.landing h1 {
    font-size: 5.3rem;
    margin-bottom: 1.5rem;
}
.landing a {
    display: inline-block;
    margin-top: 2.3rem;
    font-size: 1.3rem;
    color: black;
    text-decoration: none;
}


.image-container {
    background-image: url('../img/image-2.jpg');
    background-size: cover;
    width: 0;
    height: 384px;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-20%, -50%);

    box-shadow: 0 30px 30px rgba(0, 0, 0, .25);
}

.blackBox {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: black;
    pointer-events: none;
} */



/******************************
***** SCROLLMAGIC & GSAP *****/
/* header,
footer {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1 {
    font-size: 60px;
}

.animation {
    height: 100vh;
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    position: relative;
    overflow: hidden;
}

.plane {
    height: 150px;
    position: absolute;
    top: 50%;
    left: 0;
} */


/**********************************
***** SCROLL MAGIC IMAGE REVEAL *****/
/* header {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
header h1 {
    font-size: 4rem;
}

.section {
    width: 100%;
    height: 80vh;
    margin-bottom: 10rem;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.image-box {
    background-color: #99b898;
}

.image-box img {
    width: 100%;
    height: 100%;
}

.textBox {
    background-color: white;
    padding: 1.7rem;
    box-shadow: 0 30px 30px rgb(0, 0, 0, 0.25);
}
.textBox h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}
.textBox a {
    display: inline-block;
    color: black;
    margin-top: 1.5rem;
}

.section-left .image-box {
    grid-column: 2/8;
    grid-row: 1/6;
    
}
.section-left .textBox {
    grid-column: 7/11;
    grid-row: 2/3;
}
.section-right .image-box {
    grid-column: 12/6;
    grid-row: 1/6;
}
.section-right .textBox {
    grid-column: 3/7;
    grid-row: 2/3;
} */


/**********************************
***** GSAP 3 TEXT REVEAL *****/
/* .container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-container {
    width: 40%;
    height: 100%;
}
.img-container img {
    width: 100%;
}

.content {
    margin-left: 13rem;
}

.content h1 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
}
span {
    display: block;
}

span::after {
    content: ' ';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #fff;
    transform-origin: 100% 0; 
}

a {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: orange;
    padding: .5rem 1rem ;
    margin-top: 3rem;
} */


/**********************************
***** Parallax Page *****/
/* header {
    width: 100%;
    height: 100vh;
    color: white;
    background-color: #ffa931;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.about {
    height: 300vh;
    display: flex;
}

.about-title {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin: 0 !important;
}

.about-pages {
    width: 50%;
}

.about-pages div {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.about-pages div > p {
    width: 80%;
    line-height: 30px;
    font-size: 18px;
}

.about-pages div:nth-child(1) {
    background-color: #f9d56e;
}
.about-pages div:nth-child(2) {
    background-color: #fa26a0;
}
.about-pages div:nth-child(3) {
    background-color: #c4fb6d;
}

footer {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    background-color: #ffa931;
}
 */



/**********************************
***** NAVBAR ANIMATION ON PAGE SCROLL *****/
/* header {
    width: 100%;
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1496747611176-843222e1e57c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60');
    background-size: cover;
}

nav ul {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    list-style: none;
    background-color: white;
}
nav a {
    color: black;
    text-decoration: none;
    position: relative;
}

nav a::after {
    content: '';
    width: 100%;
    height: 100%;
    border-bottom: 2px solid #f6ab6c;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: all .3s ease;
}
nav a.active::after {
    transform: translateX(0);
}
nav li {
    overflow: hidden;
}

section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#one { background-color: #f6ab6c; }
#two { background-color: #d4b5b0; }
#three { background-color: #679b9b; } */


/**********************************
***** CHANGE BACKGROUND COLOR ON SCROLL *****/
/* body { background-color: 'white'; }

header {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.intro-text h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
}
.intro-text p {
    font-size: 1.5rem;
}

.page {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .7s ease;
    padding: 5rem 0;
}
.page h1 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
}
.page p {
    margin-bottom: 3rem;
}

section { transition: all .7s ease; }
section.scrolled-0 { background-color: #99b898; }
section.scrolled-1 { background-color: #d4b5b0; }
section.scrolled-2 { background-color: #fbd46d; } */


/**********************************
***** TEXT REAVEL ANIMATIONL *****/
/* body {
    width: 100%;
    height: 100vh;
    background-color: #fa26a0;

    display: flex;
    align-items: center;
    justify-content: center;
}

#logo {
    animation: fill 1s ease forwards 2s;
}

@keyframes anim {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fill {
    from {
        fill: transparent;
    }
    to {
        fill: white;
    }
}
 */


/**********************************
***** TEXT TYPING EFFECT *****/
/* section {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0, .4), rgba(0,0,0,.4)),
                    url('https://images.unsplash.com/photo-1518655048521-f130df041f66?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro {
    display: flex;
    color: white;
    font-size: 2rem;
}

.typing {
    position: relative;
    margin-left: 10px;
}

.typing::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -5px;
    transform: translateY(-50%);
    width: 1px;
    height: 80%;
    border-right: 2px solid white;
    animation: blink .8s infinite ease;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
} */


/**********************************
***** PAGE TRANSITION *****/
/* body { overflow: hidden; }

.page1,
.page2 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
}

a {
    color: white;
    text-decoration: none;
    margin-top: 50px;
    border: 1px solid white;
    padding: 10px 30px;
}

.page1 { background-color: #eebb4d; }
.page2 { background-color: #ff9a76; }

.slide-in { animation: slide-in .5s ease forwards; }

@keyframes slide-in {
    from {
        transform: translateX(100%);
        visibility: visible;
    }
    to {
        transform: translateX(0);
    }
} */


/**********************************
***** IMAGE SLIDER  *****/
.carousel-container {
    width: 55%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.carousel-slide {
    display: flex;
    width: 100%;
    height: 400px;
}

#prevBtn,
#nextBtn {
    color: white;
    opacity: 0.7;
    position: absolute;
    top: 50%;
    cursor: pointer;
    font-size: 30px;
    z-index: 10;
    transform: translateY(-50%);
}

#prevBtn { left: 5% }
#nextBtn { right: 5% }

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.title { margin-bottom: 30px; }
