*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

/****************************
**** IMAGE EXPAND MODAL ****/
/* Gallery */
/* .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1.5rem;
    min-height: 80vh;
    padding: 3rem;
}

.img-container {
    overflow: hidden;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.img-container img:hover {
    transform: scale(1.2);
} */

/* Modal */
/* .modal {
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    opacity: 0;
    pointer-events: none;
    transition: all .25s ease-out;
}
.modal.open {
    opacity: 1;
    pointer-events: all;
}

.full-img {
    position: absolute;
    width: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all .25s ease-out;
}

.full-img.open {
    transform: translate(-50%, -50%) scale(1);
}

.modal p {
    color: white;
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translate(-50%, -5%);
}
 */



/****************************
******* MOUSE CURSOR  *******/
/* .mouse-cursor {
    cursor: none;
}

.nav-cursor {
    display: flex;
    justify-content: space-between;
    width: 90%;
    min-height: 10vh;
    align-items: center;
    margin: auto;
}
.nav-links {
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.nav-links li {
    padding: 1rem;
}

.nav-links,
h1 {
    flex: 1;
}

.cursor-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.cursor {
    width: 2.5rem;
    height: 2.5rem;
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: -1;
    backdrop-filter: grayscale();  

    transition: all .3s ease;
    transition-property: background, transform;
    transform-origin: 100% 100%;
}

.front-cover {
    width: 30%;
    position: relative;
    z-index: -3;
}
.front-cover img {
    width: 100%;
} */

/* cursor hover on link */
/* .link-grow {
    transform: scale(1.5);
    background-color: black;
}
.hovered-link {
    color: white;
} */


/****************************
******* FANCY TEXT  *******/
/* .text-fade {
    width: 100%;
    height: 100vh;
    background-color: black;
    text-align: center;
    display: flex;
    align-items: center;
}

.text-fade h1 {
    color: white;
    font-size: 5rem;
}

span {
    display: inline-block;
    opacity: 0;
    transform: translateY(50px);
    transition: all .5s ease;
}
span.fade-in {
    opacity: 1;
    transform: translateY(0);
} */



/****************************
****** NAV ANIMATION ******/
/* header {
    box-shadow: 0 3px 10px rgba(0, 0, 0, .3);
    position: sticky;
    top: 0;
    background: white;
}

nav {
    min-height: 10vh;
    margin: 0 auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h1,
nav ul {
    font-size: 1.5rem;
    flex: 1;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

nav a {
    color: black;
    text-decoration: none;
}

.nav-colorBox section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-colorBox section h2 {
    font-size: 3rem;
    color: white;
}

.colorBox {
    position: absolute;
    z-index: -2;
    background: linear-gradient(to right top, #f46b45, #eea849);
    transform: scale(2);
    transition: all .5s ease;
}

.home {
    background: linear-gradient(to right top, #f46b45, #eea849);
}
.project {
    background: linear-gradient(to right top, #005c97, #363795);
}
.contact {
    background: linear-gradient(to right top, #e53935, #e35d5b);
} */


/**********************************
****** FADE IN HEADER IMAGE ******/
/* .fadein {
    max-width: 100vw;
    overflow-x: hidden;
    background-color: black;
}

body {
    background-color: black;
}

header {
    position: relative;
    max-width: 100%;
    height: 100vh;
    overflow: hidden;
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bg img {
    width: 100%;
    height: 100%;
}

.fade-section {
    color: white;
    padding: 7rem;
    text-align: center;
}

.fade-section h2 {
    margin-bottom: 2rem;
    font-size: 3rem;
} */



/**********************************
********* IMAGE GALLERY  *********/
/* .gallery-section {
    width: 100%;
    height: 80vh;

    display: flex;    
    align-items: center;
    flex-flow: row nowrap;
    overflow-x: auto;
    overflow-y: visible; */

    /* -ms-overflow-style: none;   Internet Explorer 10+ */
    /* scrollbar-width: none;      Firefox 
}
*/

/*
.gallery-section::-webkit-scrollbar { 
    display: none;   Safari and Chrome 
}
*/

/* .container {
    display: flex;
    align-items: center;
    padding: 0 1rem;
}

.img-container {
    padding: 0 1rem;
    cursor: grab;
}

.img-container--h {
    width: 20rem;
    height: 25rem;
}

.img-container--v {
    width: 23rem;
    height: 18rem;
}


.img-container img {
    width: 100%;
    height: 100%;
} */


/**********************************
****** AIRPOD VIDEO ANIMATION ******/
/* .intro {
    height: 100vh;
    width: 100%;
}

.intro video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.intro h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    color: white;
}

section {
    height: 100vh;
    color: black;
}

section h1 {
    text-align: center;
    padding-top: 350px;
    font-size: 3rem;
} */



/**********************************
****** FULL PAGE ANIMATION  ******/
/* .chair {
    height: 60%;
    position: absolute;
    top: 70%;
    left: 70%;
    transform: translate(-70%, -70%);
}

.s1 {
    background-image: url(../img/full-page/couch.jpg);
    background-size: cover;
}
.section h1 {
    font-size: 3.5rem;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    background: linear-gradient(to left, #87c7df, #648896);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.s2 {
    background: linear-gradient(to left top, #7d7f80, white);
}
.s2 h1 {
    font-size: 3rem;
    background: linear-gradient(to left, #273a41, #34474d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.description {
    margin: 20%;
    width: 50%;
    margin-left: 5%;
    font-size: 1rem;
}
.description p {
    margin: 50px 0;
} */


/***************************************
****** PAGE ANIMATION WITH GSAP 1 ******/
/* nav {
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%;
    align-items: center;
    min-height: 10vh;
    color: white;
}
nav h3 {
    grid-column: 2/3;
    font-size: 1.3rem;
}
svg {
    justify-self: end;
    fill: white;
    width: 2.5rem;
    height: 2.5rem;
}

.slider {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: linear-gradient(to left, #ba7453, #d1a984);
}

section {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero {
    position: relative;
    width: 100%;
    height: 60%;
}
.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero h1 {
    position: absolute;
    top: 70%;
    left: 10%;
    transform: translate(-15%, -70%); 
    z-index:3;
    font-size: 3.5rem;
    color: white;
}
.hero::after {                    
    content: "";
    background: black;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .3;
} */


/*********************************************
*** PAGE ANIMATION WITH GSAP 2 ***/
/* html,
body {
    width: 100%;
    height: 100%;
    background-color: #e8ab28;
}

header {
    position: relative;
    width: 100%;
    height: 100vh;
}

.cover {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    object-fit: cover;
    object-position: top;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 40%;
    height: 20vh;
    background-color: white;
    color: #916356;
}

.nav-closed {
    position: absolute; 
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 20vh;
}

.nav-closed ul {
    display: flex;
    width: 50%;
    justify-content: space-around;
    list-style: none;
}

.nav-open {
    position: absolute;
    top: 20vh;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    opacity: 0;
    pointer-events: none;
}

.clothes {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.clothes h2 {
    font-size: 50px;
}
.clothes ul {
    list-style: none;
}
.clothes ul li {
    margin-bottom: 10px;
}
.clothes ul li a {
    text-decoration: none;
    color: #916356;
}

.nav-images {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.nav-images img {
    height: 250px;
} */


/*********************************************
*** BLENDING IMAGE ON HOVER ***/
/* .landing {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    height: 100vh;
}

.distortion {
    width: 100%;
    height: auto;
}

.intro {
    align-self: center;
}
.intro h1 {
    font-size: 50px;
}
.intro p {
    font-size: 25px;
} */



/******************************
*** BUBBLE NAVIGATION ***/
nav {
    height: 10vh;
    background-color: #5b78c7;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 100%;
    margin-left: auto;
    pointer-events: none;
}

.nav-links li {
    list-style: none;
}

.nav-links li a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.landing {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing h1 {
    font-size: 50px;
    margin: 100px;
    color: #ae5fce;
}

@media screen and (max-width: 768px) {
    nav {
        position: relative;
    }

    .hamburger {
        position: absolute;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        cursor: pointer;
    }

    .line {
        width: 30px;
        height: 3px;
        background-color: #fff;
        margin: 5px;
    }

    .nav-links {
        position: fixed;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        background-color: #5b78c7;
        pointer-events: all;
        
        clip-path: circle(100px at 90% -10%); /* right top */
        -webkit-clip-path: circle(100px at 90% -10%); 
        transition: all 1s ease-out;
    }

    .nav-links.open {
        clip-path: circle(1600px at 90% -10%); 
        -webkit-clip-path: circle(1600px at 90% -10%);  
    } 

    .landing {
        flex-direction: column;
    }

    /* li fade-in */
    .nav-links li {
        opacity: 0;
    }
    .nav-links li:nth-child(1) {
        transition: all .5s ease .2s; /* .2s is delay */
    }
    .nav-links li:nth-child(2) {
        transition: all .5s ease .4s; 
    }    
    .nav-links li:nth-child(3) {
        transition: all .5s ease .6 s; 
    }
    li.fade {
        opacity: 1;
    }
    .nav-links li a {
        font-size: 25px;
    }
}



/* Helper class */
.text-center { text-align: center; }