*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/********* IMAGE EXPAND MODAL *********/
/* Gallery */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1.5rem;
    min-height: 80vh;
    padding: 3rem;
}

.img-container {
    overflow: hidden;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.img-container img:hover {
    transform: scale(1.2);
}

/* Modal */
.modal {
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    opacity: 0;
    pointer-events: none;
    transition: all .25s ease-out;
}
.modal.open {
    opacity: 1;
    pointer-events: all;
}

.full-img {
    position: absolute;
    width: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all .25s ease-out;
}

.full-img.open {
    transform: translate(-50%, -50%) scale(1);
}

.modal p {
    color: white;
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translate(-50%, -5%);
}

/********* MOUSE CURSOR **********/
body {
    font-family: 'Poppins', sans-serif;
    cursor: none;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 90%;
    min-height: 10vh;
    align-items: center;
    margin: auto;
}
.nav-links {
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.nav-links li {
    padding: 1rem;
}

.nav-links,
h1 {
    flex: 1;
}

.cursor-container {
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
}

.cursor {
    width: 2rem;
    height: 2rem;
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: -1;
    backdrop-filter: grayscale();                           /* It apply elements behind cursor  */

    transition: all .3s ease;
    transition-property: background, transform;
    transform-origin: 100% 100%;
}

.front-cover {
    width: 30%;
    position: relative;
    z-index: -3;
}
.front-cover img {
    width: 100%;
}

/* cursor hover on link */
.link-grow {
    transform: scale(1.5);
    background-color: black;
}
.hovered-link {
    color: white;
}








/* Helper class */
section { margin: 5rem 0; }
.text-center { text-align: center; }